.App {    
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.App_image {
  width: 370px;
  margin-top: 50px;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

.cards_container{
  margin: 50px 0;
  display: block;
}

.grid_container{
  width: calc(100% + 24px);
  margin: -12px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.card{
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;  
  flex-grow: 0;
  max-width: 16.666667%;
  flex-basis: 16.666667%;  
  box-sizing: border-box;
  width: 100%;
  margin: 0px 23.675px;
  padding: 12px;
  text-align: left;
}

.card.color_one{
  background-color: rgba(102,179,255,.5)!important;
  border-bottom: 10px solid rgba(0,0,255,.5);
}

.card.color_two{
  background-color: rgba(191,242,202,.5)!important;
  border-bottom: 10px solid rgba(0,255,0,.5);
}

.card.color_three{
  background-color: rgba(237,178,178,.5)!important;
  border-bottom: 10px solid rgba(255,0,0,.5);
}

.card.color_four{
  background-color: rgba(237,199,152,.5)!important;
  border-bottom: 10px solid rgba(242,234,0,.5);
}

.card_content{
  padding-bottom: 24px;
  padding: 16px;
  display: block;
  color: rgba(0, 0, 0, 0.87);
}

.card_content p{
  margin-bottom: 0.35em;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin: 0;
}

b {
  font-weight: bold;
}

.card_content h5 {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  margin: 0;
}

.body1{
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.body2{
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.colorPrimary {
  color: rgba(0, 0, 0, .87);
}

.colorSecondary {
  color: rgba(0, 0, 0, .54);
}

.country_control{
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  width: 30%;
  margin-bottom: 30px!important;
}

.form_control{
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;  
}

.form_control::before{
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  pointer-events: none;
}

.form_control::after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #3f51b5;
  pointer-events: none;
}
.arrow_bottom_icon{
  top: calc(50% - 12px);
  color: rgba(0, 0, 0, 0.54);
  right: 0;
  position: absolute;
  pointer-events: none;
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  overflow: hidden;
}

.select_input{
  padding-right: 24px;
  cursor: pointer;
  min-width: 16px;
  user-select: none;
  border-radius: 0;
  -webkit-appearance: none;
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  -webkit-tap-highlight-color: transparent;
}

select:not(:-internal-list-box) {
  overflow: visible !important;
}

.select_input:focus {
  border-radius: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

select:not([multiple]) option {
  background-color: #fff;
}